$color-background-light: #303030;
$color-background-dark: #222222;

$color-primary: #fc7b54;  // coral-color
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-grey-dark: #6c6c6c;
$color-grey-dark-2: #918983;
$color-grey-light: #bdbebe;

$color-navy-dark: #1a1463;

$color-blue-light: #31bacd;

$color-black: #000;
$color-white: #fff;
$color-white-1: #f8f8f7;

$color-purple-dark: #551a8b;
$color-purple-light: #b19cd9;
$color-purple-light-2: #902bf5;
$color-purple-light-3: #f361fb;

$color-red: #b92020;

$color-blue: #102ba4;