$color-background-light: #303030;
$color-background-dark: #222222;

$color-primary: #c3cc5a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-black: #000;

$color-text: #ffffff;

$color-purple-dark: #551a8b;
$color-purple-light: #b19cd9;