<div class="home">
  <div class="team-overview card-transparent-bg">
    <img
      src="/assets/images/barcelona-logo.png"
      alt="club-logo"
      class="club__logo"
    />
    <h3 class="club__name">FC Barcelona</h3>
    <p class="club__location">Barcelona, Spain</p>
    <p class="form-text">Form this season</p>
    <div class="club__form">
      <div class="form-stat"><span>M</span><span>21</span></div>
      <div class="form-stat"><span>W</span><span>16</span></div>
      <div class="form-stat"><span>D</span><span>3</span></div>
      <div class="form-stat"><span>L</span><span>2</span></div>
    </div>
  </div>
  <div class="club-additional-details card-transparent-bg">
    <div class="stadium-capacity">
      <h3 class="stadium__attendance">83,844</h3>
      <p class="today-attendance-text">Today's attendance</p>
      <h3 class="stadium__name">Spotify Camp Nou</h3>
      <p class="stadium__location">Barcelona</p>
    </div>
    <div class="video-container">
      <video class="video" autoplay muted loop>
        <source src="/assets/videos/messi-video.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="standings card-transparent-bg">Standings</div>
  <div class="matches card-transparent-bg">Matches</div>
  <div class="squad card-transparent-bg">Squad</div>
</div>
